{% block content %}
<div class="container">
    <h1 class="display-4">All Influencers</h1>
    {% if influencers %}
        {% for influencer in influencers %}
        <div class="card mb-3">
            <div class="card-body">
                <p>Name: {{ influencer.name }}</p>
                <p>Platform: {{ influencer.platform }}</p>
                <p>Niche: {{ influencer.niche }}</p>
                <p>Reach: {{ influencer.reach }}</p>
                <a href="{{ url_for('flag_influencer', influencer_id=influencer.id) }}" class="btn btn-warning">Flag as Inappropriate</a><br><br>
                
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No influencers found.</p>
    {% endif %}
    <a href="{{url_for('admin_dashboard')}}" class="btn btn-primary">Back to Dashboard</a><br><br>
</div>
{% endblock %}
