{% extends 'layout.html' %}

{% block title %}
    Find Influencers
{% endblock %}

{% block content %}

<form action="{{url_for('find_influencers')}}" class="my-form" method="post">
    
    <label for="niche" class="form-label">Niche</label>    
    <input type="text" name="niche" id="niche" required>

    <label for="min_reach" class="form-label">Minimum Reach</label>    
    <input type="number" name="min_reach" id="min_reach" required>

    <label for="max_followers" class="form-label">Maximum Followers</label>    
    <input type="number" name="max_followers" id="max_followers" required>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Search Influencers</button>
</div>
</form>

<h2> Results</h2>
     <ul>
        {% for influencer in influencers %}
           <li>
            <h3>{{influencer.name}}</h3>
            <p>Niche:{{influencer.niche}}</p>
            <p>Reach:{{influencer.reach}}</p>
            
            <a href="{{url_for('view_influencer',influencer_id=influencer.id)}}">View Influencer</a>
           </li>
        {% else %}
           <p>No influencers found.</p>
        {% endfor %}
     </ul>
{% endblock %}