{% extends 'layout.html' %}

{% block title %}
    Find Campaigns
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-1">Find Campaigns</h1>
    <form action="{{url_for('find_campaigns')}}" method="post">
        <div class="mb-3">
            <label for="searchQuery" class="form-label">Search Query</label>
            <input type="text" class="form-control" id="searchQuery" name="searchQuery" placeholder="Enter Search Query">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="row row-cols-1 row cols md-2 g-4">
        {% for campaign in campaigns %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{campaign.name}}</h5>
                    <p class="card-text">{{campaign.description}}</p>
                    <p class="card-text">{{campaign.description}}</p>
                    <p class="card-text">{{campaign.start_date}}</p>
                    <p class="card-text">{{campaign.end_date}}</p>
               
                </div>
            </div>
        </div>
        {% endfor %}

    </div><br><br>
    <a href="{{url_for('influencer_dashboard')}}" class="btn btn-primary">Back to Dashboard</a><br><br>
</div>
{% endblock %}