{% extends 'layout.html' %}

{% block title %}
    Create New Ad Request
{% endblock %}

{% block content %}
<div class="container">
    <h1>Create Ad Request for {{influencer.name}}</h1>
    <form method="POST">
        <label for="requirements" class="form-label">Requirements</label>    
        <input type="text" name="requirements" id="requirements" required>

        <label for="payment_amount" class="form-label">Payment Amount</label>    
        <input type="number" name="payment_amount" id="payment_amount" required>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Ad Request</button>
    </div>
</form>
<a href="{{ url_for('sponsor_dashboard') }}">Back to Dashboard</a>
</div>
{% endblock %}