{% extends 'layout.html' %}

{% block title %}
    View Item
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4">{{item.name}}</h1>
    {% if item.__class__.name=='User' %}
      <p>Email: {{item.email}}</p>
      <p>User Type: {{item.user_type}}</p>
    {% elif item.__class__.name=='Campaign' %}
       <p>Description: {{item.description}}</p>
       <p>Start Date: {{item.start_date}}</p>
       <p>End Date: {{item.end_date}}</p>
       <p>Budget: {{campaign.budget}}</p>
    {% endif %}
    <a href="{{url_for('admin_dashboard')}}" class="btn btn-primary">Back to Dashboard</a>
</div>
{% endblock %}