{% extends 'layout.html' %}

{% block title %}
    View Campaign
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4">{{campaign.name}}</h1>
    <p>Budget: {{campaign.budget}}</p>
    <p>Description: {{campaign.description}}</p>
    <p>Start Date: {{campaign.start_date}}</p>
    <p>End Date: {{campaign.end_date}}</p>
    <p>Visibility: {{campaign.visibility}}</p>
    <a href="{{url_for('sponsor_dashboard')}}" class="btn btn-primary">Back to Dashboard</a><br><br>
</div>
{% endblock %}